In [2]:
import pandas as pd

In [7]:
address = '../kişi_başına_gayri_safi_milli_hasıla/kişi_başına_gayri_safi_milli_hasıla.xls'
data = pd.read_excel(address)
data.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Sütunlar
0,Satırlar,NaN,NaN,Türkiye-TR
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,Kişi Başına Gayri Safi Yurtiçi Hasıla (2009 Ba...,Cari Fiyatlarla ve ABD Doları,1998.0,4445
4,NaN,NaN,1999.0,4010
5,NaN,NaN,2000.0,4249
6,NaN,NaN,2001.0,3108
7,NaN,NaN,2002.0,3608
8,NaN,NaN,2003.0,4739
9,NaN,NaN,2004.0,6021
10,NaN,NaN,2005.0,7376
11,NaN,NaN,2006.0,7971
12,NaN,NaN,2007.0,9735
13,NaN,NaN,2008.0,11018
14,NaN,NaN,2009.0,9044
15,NaN,NaN,2010.0,10629
16,NaN,NaN,2011.0,11289
17,NaN,NaN,2012.0,11675
18,NaN,NaN,2013.0,12582
19,NaN,NaN,2014.0,12178

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   para_birimi  50 non-null     object
 1   yil          50 non-null     int32
 2   deger        50 non-null     int32
dtypes: int32(2), object(1)
memory usage: 932.0+ bytes

In [30]:
data = data.loc[data.index > 2]

In [31]:
data = data.reset_index(drop=True)

In [32]:
data.loc[0 : 24, 'Unnamed: 1'] = 'USD'

In [33]:
data.loc[25 : , 'Unnamed: 1'] = 'TL'

In [34]:
data = data.loc[:, data.columns != 'Unnamed: 0']

In [36]:
data.columns = ['para_birimi', 'yil', 'deger']

In [44]:
data['yil'] = data['yil'].astype('int')
data['deger'] = data['deger'].astype('int')

In [46]:
data

   para_birimi   yil   deger
0          USD  1998    4445
1          USD  1999    4010
2          USD  2000    4249
3          USD  2001    3108
4          USD  2002    3608
5          USD  2003    4739
6          USD  2004    6021
7          USD  2005    7376
8          USD  2006    7971
9          USD  2007    9735
10         USD  2008   11018
11         USD  2009    9044
12         USD  2010   10629
13         USD  2011   11289
14         USD  2012   11675
15         USD  2013   12582
16         USD  2014   12178
17         USD  2015   11085
18         USD  2016   10964
19         USD  2017   10696
20         USD  2018    9799
21         USD  2019    9208
22         USD  2020    8600
23         USD  2021    9601
24         USD  2022   10659
25          TL  1998    1152
26          TL  1999    1695
27          TL  2000    2668
28          TL  2001    3794
29          TL  2002    5486
30          TL  2003    7069
31          TL  2004    8622
32          TL  2005    9940
33          TL  2006   11484
34          TL  2007   12653
35          TL  2008   14113
36          TL  2009   13970
37          TL  2010   15964
38          TL  2011   18928
39          TL  2012   21037
40          TL  2013   23946
41          TL  2014   26624
42          TL  2015   30056
43          TL  2016   33131
44          TL  2017   39019
45          TL  2018   46202
46          TL  2019   52287
47          TL  2020   60545
48          TL  2021   86232
49          TL  2022  176651

In [51]:
data.to_csv('C:/Users/Tacab/Desktop/dashboard_projesi_ile_alakalı/kişi_başına_gayri_safi_milli_hasıla/turkey_cleaned_gdp_per_capita.csv', index=False)